<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

<!--         Local database server detail -->
        <property name="connection.url">jdbc:mysql://localhost:3306/librarymanagement</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Istiyak@mi9</property>

        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.proc.param_null_passing">true</property>

<!--        <mapping class="com.bottrack.model.User" />-->

        <mapping class="com.librarymanagement.entity.User"/>
        <mapping class="com.librarymanagement.entity.Login"/>
        <mapping class="com.librarymanagement.entity.BookDetails"/>
        <mapping class="com.librarymanagement.entity.StudentDetails"/>
        <mapping class="com.librarymanagement.entity.IssueBook"/>

    </session-factory>
</hibernate-configuration>